<!DOCTYPE html>
<html>
<head>
	<title>Profile page</title>
	<style type="text/css">
		#change1{
			color: Red;
			font-size: 30px;
		}
		#change2{
			color: Yellow;
			font-size: 15px;
		}
		#change3{
			color: Green;
			font-size: 20px;
		}
	</style>

</head>
	<body style="background-color:powderblue;">

	<h1 id="change1"> {{ msg }} </h1>
	<h1 id="change1">  </h1>
	<h1 id="change2"> The observation time is : {{ date }}</h1>
	<marquee id="change3",width="100%" direction="left" height="50px" font-size = "30px">
			 <h1 id="change3"> About <b> MANOJ.G </b>.&#128195</h1>
	</marquee>
	<h1> <b>Welcome to my profile </b></h1>
	<div style="background-color: Snow">
		<p> Manoj, presently residing in Banglore , where as he is searching for starting is career in field of Technology. <br>He has received his Bachelor's degree in Computer Applications from the Kalphaturu First Grade Science College.Tiptur under Tumkur University <br>Not only the tech stuff, I also likes to drive , making friends and moreover I loves traveling and exploring new things and stuffs. He has passionate in learning technology as well as data science .
			
			 
		</p>
	</div>
	<h2> Academic Projects </h2>
		<ol>
			<li> Bus Management System </li>
				<p>
					Team Size : 4 members<br>
					Languages : Visual Basic<br>
					Database : My Sql<br>
					Role : Team Member (Design)<br>
					Project Description: This project is aimed to develop and maintain the bus 
					info by creating GUI. Customers can easily take advantages and process of all form.
				</p>
			<li> ANDROID BASED DATASHARING </li>
				<p>
					
					Team Size : 5members<br>
					Languages : Java<br>
					Tools : Android Studio 3.0.1, Android Sdk5.1<br>
					Role : Team Member<br>
					Project Description: This project aimsto help the users in exchanging the files 
					from one device to another. Thus it eases the file sharing process and saves 
					time.
				</p>

		</ol>
	<h3> My Interest are </h3>
		<ol>
			<li> Python & Django</li>
			<li> SQL</li>
			<li> Core Java </li>
		</ol>
	<h4> Self Project under working</h4>
		<body>
			<ul> </ul>

			<li>Speech to text and text to speech </li>
			<div style="background-color: SpringGreen">	
				<p>
					This project aims with conversion of text into speech and speech into text for people with hearing impaired in the dial mode. Where the hearing impaired people find’s difficulty to conserve with non sign language user in there devices. So that it will be easy to conserve with normal people.
					Team Size = 1.


				</p>
			</div>
		</body>
	<h5> Get In Touch </h5>
		<body>
			<p>LinkedIn: <a href="https://www.linkedin.com/in/manoj896">LinkedIn</a></p>
			What's App = 9972794842(Only texts. No calls)
			
		</body>
	


	
</body>
</html>